<div class="layout" fxLayout="row">
    <div fxFlex="60">
      <div fxFlex="column" fxFlexAlign="center" class="login-form">
        <mat-card>         
          <mat-card-header class="justify-content-center">
            <mat-card-title>
              <h1 class="text-center">   Create an account <span>Sparetime</span></h1>
              <h3 class="text-uppercase">
                Create an account
              </h3>
            </mat-card-title>
          </mat-card-header>
          <hr />
          <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly center" >
            <form class="example-form">
                <table class="example-full-width" cellspacing="0"><tr>
                    <td><mat-form-field class="example-full-width">
                      <mat-label>Email</mat-label>
                      <input matInput maxlength="50" required name="email" [(ngModel)]="user.email">
                    </mat-form-field></td>
                    <td><mat-form-field class="example-full-width">
                      <mat-label>Password</mat-label>
                      <input type="password" required name="password" [(ngModel)]="user.password" matInput>
                    </mat-form-field></td>
                  </tr></table>

                <table class="example-full-width" cellspacing="0"><tr>
                  <td><mat-form-field class="example-full-width">
                    <mat-label>First name</mat-label>
                    <input name="firstName" required maxlength="50" [(ngModel)]="user.firstName" matInput>
                  </mat-form-field></td>
                  <td><mat-form-field class="example-full-width">
                    <mat-label>Last Name</mat-label>
                    <input name="lastName" required maxlength="50" [(ngModel)]="user.lastName" matInput>
                  </mat-form-field></td>
                </tr></table>
              
                <p>
                  <mat-form-field class="example-full-width">
                    <mat-label>Age</mat-label>
                    <input type="number" required name="age" [(ngModel)]="user.age" matInput>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <mat-label>Company name</mat-label>
                    <input name="company" [(ngModel)]="user.company" matInput>
                  </mat-form-field>
                </p>
                <div fxLayout="row" >
                    <button mat-flat-button color="warn" routerLink='login'>
                        <mat-icon>keyboard_backspace</mat-icon> Login
                    </button>                                
                    <button mat-flat-button color="primary" (click)="registrate(user)">Create account</button>
                </div>                
              </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxFlex="40" class="bg-image-1">
      <div fxLayout="column" fxLayoutAlign="center center" class="layer">
        <h3 class="title">Sparetime©</h3>
        <h1 class="subheading">Discover an innovative way to find your <span style="color: #3f51b5">events !</span></h1>
        <p class="description">
          Our application is intended for everyone, both users of all ages and from all backgrounds, as well as various
          players in the events sector, actor, organizer and public decision-maker
          <br />
          « L’IA au service de la ville de demain »
        </p>
      </div>
    </div>
  </div>
  