<div class="layout" fxLayout="row">
    <div fxFlex="60">
      <div fxFlex="column" fxFlexAlign="center" class="login-form">
        <mat-card>
          <mat-card-header class="justify-content-center">
            <mat-card-title>
              <h1 class="text-center">Create an account <span>My Password Manager</span></h1>
              <h3 class="text-uppercase">
                Create an account
              </h3>
            </mat-card-title>
          </mat-card-header>
          <hr />
          <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly center" >
            <form class="example-form">
                <table class="example-full-width" cellspacing="0"><tr>
                    <td><mat-form-field class="example-full-width">
                      <mat-label>Email</mat-label>
                      <input matInput maxlength="50" required name="email" [(ngModel)]="user.email">
                    </mat-form-field></td>
                    <td><mat-form-field class="example-full-width">
                      <mat-label>Password</mat-label>
                      <input type="password" required name="password" [(ngModel)]="user.password" matInput>
                    </mat-form-field></td>
                  </tr></table>

                <table class="example-full-width" cellspacing="0"><tr>
                  <td><mat-form-field class="example-full-width">
                    <mat-label>First name</mat-label>
                    <input name="firstName" required maxlength="50" [(ngModel)]="user.firstName" matInput>
                  </mat-form-field></td>
                  <td><mat-form-field class="example-full-width">
                    <mat-label>Last Name</mat-label>
                    <input name="lastName" required maxlength="50" [(ngModel)]="user.lastName" matInput>
                  </mat-form-field></td>
                </tr></table>

                <p>
                  <mat-form-field class="example-full-width">
                    <mat-label>Age</mat-label>
                    <input type="number" required name="age" [(ngModel)]="user.age" matInput>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <mat-label>Company name</mat-label>
                    <input name="company" [(ngModel)]="user.company" matInput>
                  </mat-form-field>
                </p>
                <div fxLayout="row" >
                    <button mat-flat-button color="warn" routerLink='login'>
                        <mat-icon>keyboard_backspace</mat-icon> Login
                    </button>
                    <button mat-flat-button color="primary" (click)="registrate(user)">Create account</button>
                </div>
              </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxFlex="40">
      <app-side-screen></app-side-screen>
    </div>
</div>
