<div class="layout" fxLayout="row">
  <div fxFlex="60">
    <div fxFlex="column" fxFlexAlign="center" class="login-form">
      <mat-card>
        <mat-card-header class="justify-content-center">
          <mat-card-title>
            <h1 class="text-center">Log in <span>Sparetime</span></h1>
            <h3 class="text-uppercase">
              Connectez vous
            </h3>
          </mat-card-title>
        </mat-card-header>
        <hr />
        <mat-card-content fxLayout="column" >
          <div fxLayout="column" fxLayoutAlign="space-evenly center">
            <form class="example-form">
              <div>
                <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input name="email" matInput placeholder="Email" [(ngModel)]="email">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field class="example-full-width">
                  <mat-label>Password</mat-label>
                  <input matInput name="password" type="password" placeholder="Password" [(ngModel)]="password">
                </mat-form-field>
              </div>
              <button mat-flat-button color="primary" (click)="loginNetwork(email,password)">Login</button>
            </form>
          </div>
          <div fxLayout="row" style="margin-top: 1em;">
            If you don't have an account yet, please click <a href="#" routerLink='/registration'> here</a> <a href="#" routerLink='/password-dashboard'> here</a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxFlex="40" class="bg-image-1">
    <div fxLayout="column" fxLayoutAlign="center center" class="layer">
      <h3 class="title">Sparetime©</h3>
      <h1 class="subheading">Discover an innovative way to find your <span style="color: #3f51b5">events !</span></h1>
      <p class="description">
        Our application is intended for everyone, both users of all ages and from all backgrounds, as well as various
        players in the events sector, actor, organizer and public decision-maker
        <br />
        « L’IA au service de la ville de demain »
      </p>
    </div>
  </div>
</div>
